@model CarCare.Models.RepairRecordViewModel

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@using (@Html.BeginForm("SaveRepair", "Repair", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <td>
                        Vehicle
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.VehicleId, ((List<SelectListItem>)ViewBag.Vehicles).Select(m => new SelectListItem { Text = m.Text, Value = m.Value }))
                    </td>
                </tr>
                <tr>
                    <td>
                        Repair Station
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.RepairStationId, ((List<SelectListItem>)ViewBag.ServiceStations).Select(m => new SelectListItem { Text = m.Text, Value = m.Value }))
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.RepairCost)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.RepairCost)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.RepairShortDesc)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.RepairShortDesc)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.RepairStatus)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.RepairStatus)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.RepairDate)
                    </td>
                    <td>
                        <input type="date" />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.RepairCompleteDate)
                    </td>
                    <td>
                        <input type="date" />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.RepairDetails)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.RepairDetails)
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary" type="submit">Save</button>
                        @Html.HiddenFor(m => m.VehicleId)
                        @Html.HiddenFor(m => m.RepairId)
                        @Html.HiddenFor(m => m.RepairStationId)
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    </td>
                </tr>
            </table>

        </div>

    </div>
}