@model CarCare.Models.RepairRecordViewModel

@{
    ViewBag.Title = "Manage Vechile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Repair Record</h2>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@using (@Html.BeginForm("SaveRepair", "Repair", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>
                            Action
                        </th>
                        <th>
                            Vehicle
                        </th>
                        <th>
                            Repair Station
                        </th>
                        <th>
                            @Html.LabelFor(m => m.RepairCost)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.RepairShortDesc)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.RepairStatus)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.RepairDate)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.RepairCompleteDate)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.RepairDetails)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button type="submit">Save</button>
                            @Html.HiddenFor(m => m.VehicleId)
                            @Html.HiddenFor(m => m.RepairId)
                            @Html.HiddenFor(m => m.RepairStationId)
                        </td>
                        <td>
                            @Html.DropDownList("Vehhicles", ((List<SelectListItem>)ViewBag.Vehicles).Select(m => new SelectListItem { Text = m.Text, Value = m.Value }))
                        </td>
                        <td>
                            @Html.DropDownList("ServiceStation", ((List<SelectListItem>)ViewBag.ServiceStations).Select(m => new SelectListItem { Text = m.Text, Value = m.Value }))
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.RepairCost)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.RepairShortDesc)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.RepairStatus)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.RepairDate)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.RepairCompleteDate)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.RepairDetails)
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
}
