@model CarCare.Models.ServiceRecordViewModel

@{
    ViewBag.Title = "Save TuneUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit TuneUp Record</h2>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@using (@Html.BeginForm("SaveTuneUp", "TuneUp", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>
                            Action
                        </th>
                        <th>
                            Vehicle
                        </th>
                        <th>
                            Service Station
                        </th>
                        <th>
                            @Html.LabelFor(m => m.ServiceCost)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.ServiceDate)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.LastModifiedDate)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.StationZipCode)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.ServiceNote)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button type="submit">Save</button>
                            @Html.HiddenFor(m => m.VehicleId)
                            @Html.HiddenFor(m => m.ServiceId)
                            @Html.HiddenFor(m => m.ServiceStationId)
                        </td>
                        <td>
                            @Html.DropDownList("Vehhicles", ((List<SelectListItem>)ViewBag.Vehicles).Select(m => new SelectListItem { Text = m.Text, Value = m.Value }))
                        </td>
                        <td>
                            @Html.DropDownList("ServiceStation", ((List<SelectListItem>)ViewBag.ServiceStations).Select(m => new SelectListItem { Text = m.Text, Value = m.Value }))
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.ServiceCost)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.ServiceDate)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.LastModifiedDate)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.StationZipCode)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.ServiceNote)
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
}
