@model CarCare.Models.VehicleViewModel

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@using (@Html.BeginForm("SaveVehicle", "Vehicle", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <td>
                        @Html.LabelFor(m => m.VechicleDealer)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.VechicleDealer)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.VechicleYear)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.VechicleYear)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.VehicleMark)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.VehicleMark)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.VehicleModel)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.VehicleModel)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.VINNumber)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.VINNumber)
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary" type="submit">Save</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}


<div class="alert alert-success alert-dismissable" style="visibility:hidden">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
</div>
<div class="alert alert-danger alert-dismissable" style="visibility:hidden">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
</div>
<script type="text/javascript">

 $(document).ready(function () {

     $('#SaveVehicle').submit(function (e) {
        var formData = new FormData(this);
        $.ajax({
            url: '@Url.Action("DeleteOilChange", "OilChange")',
            type: "POST",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            data: {'serviceId' : 54},
            contentType: false,
            processData: false,
            success: function (result) {
             // here in result you will get your data
            },
            error: function (result) {

            }
        });
        e.preventDefault();
    });
});
</script>