
// Using's are needed to ensure helpers function correctly.
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Mvc.Routing;
@using System.Web.Mvc.Razor;
@functions {
    private static WebViewPage page { get { return PageContext.Page as WebViewPage; } }
    private static System.Web.Mvc.HtmlHelper<dynamic> html { get { return page.Html; } }
    private static UrlHelper url { get { return page.Url; } }
    private static dynamic viewBag { get { return page.ViewBag; } }
}




@helper DisplayServiceRecords(string typeOfService, IEnumerable<CarCare.Models.ServiceRecordViewModel> passedModel)
{

    <div>
        <h2>@typeOfService</h2>


        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />

        <div class="container">
            <div class="row">
                <button type="button" id="Add" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myAddModal">Add</button>
                <table class="table table-inverse">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                                Vehicle
                            </th>
                            <th>
                                Service Station
                            </th>
                            <th>
                                Service Cost
                            </th>
                            <th>
                                Service Date
                            </th>
                            <th>
                                Last Modified Date
                            </th>
                            <th>
                                Completed Date
                            </th>
                            <th>
                                Station ZipCode
                            </th>
                            <th>
                                Service Notes
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var record in passedModel)
                        {
                            <tr>
                                <td>
                                    <input type="button" id="Edit" class="EditRecord"  data-toggle="modal" data-target="#myEditModal" value="Edit" data-id="@record.ServiceId" />               
                                </td>
                                <td>
                                    <input type="button" value="Delete" data-id="@record.ServiceId" data-control="@typeOfService" class="delete" data-confirm="Are you sure to delete this item?" />
                                </td>
                                <td>
                                    @record.VINNumber
                                </td>
                                <td>
                                    @record.StationStreetAddress
                                </td>
                                <td>
                                    @record.ServiceCost
                                </td>
                                <td>
                                    @record.ServiceDate
                                </td>
                                <td>
                                    @record.LastModifiedDate
                                </td>
                                <td>
                                    @record.CompletedDate
                                </td>
                                <td>
                                    @record.StationZipCode
                                </td>
                                <td>
                                    @record.ServiceNote
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>

        <!-- Trigger the modal with a button -->
        <!-- Add New Recod Modal -->
        <div id="myAddModal" class="modal fade" role="dialog" data-url='@url.Action("Add", typeOfService)'>
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add @typeOfService Record</h4>
                    </div>
                    <div class="modal-body" id="AddRecord">

                    </div>
                </div>
            </div>

        </div>

        <div id="myEditModal" class="modal fade" role="dialog" data-url='@url.Action("Edit", typeOfService)'>
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Edit @typeOfService Record</h4>
                    </div>
                    <div class="modal-body" id="EditRecord">

                    </div>
                </div>
            </div>

        </div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#Add').click(function () {
                    var url = $('#myAddModal').data('url');
                    $.get(url, function (data) {
                        $('#AddRecord').html(data);
                        $('#myAddModal').modal('show');
                    });
                });
                $('.EditRecord').click(function () {
                    var url = $('#myEditModal').data('url');
                    url += "?id=" + $(this).data('id')
                    $.get(url, function (data) {
                        $('#EditRecord').html(data);
                        $('#myEditModal').modal('show');
                    });
                });
            });

            var deleteLinks = document.querySelectorAll('.delete');

            for (var i = 0; i < deleteLinks.length; i++) {
                deleteLinks[i].addEventListener('click', function (event) {
                    event.preventDefault();

                    var choice = confirm(this.getAttribute('data-confirm'));
                    if (choice) {
                        var ds = $(this).data("id");
                        var controllerName = $(this).data("control");
                        var url = "/" + controllerName + "/Delete";
                        $.ajax({
                            type: "POST",
                            dataType: "JSON",
                            url: url,
                            data: { 'serviceId': ds },
                            success: function (result) {
                                if (result == "Success") {
                                    location.reload();
                                }
                            }
                        });
                    }
                });
            }

        </script>
    </div >
}