@model CarCare.Models.WarrantyViewModel

@{
    ViewBag.Title = "Edit Warranty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Warranty Information</h2>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@using (@Html.BeginForm("SaveWarranty", "Warranty", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>
                            Action
                        </th>
                        <th>
                            Vehicle
                        </th>
                        <th>
                            Warranty Provider
                        </th>
                        <th>
                            @Html.LabelFor(m => m.WarrantyCost)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.WarrantyStartDate)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.WarrantyExpirationDate)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.WarrantyCoverage)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button type="submit">Save</button>
                            @Html.HiddenFor(m => m.VehicleId)
                            @Html.HiddenFor(m => m.WarrantyId)
                        </td>
                        <td>
                            @Html.DropDownList("Vehhicles", ((List<SelectListItem>)ViewBag.Vehicles).Select(m => new SelectListItem { Text = m.Text, Value = m.Value }))
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.WarrantyProvider)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.WarrantyCost)
                        </td>
                        <td>
                            <input type="date" />
                        </td>
                        <td>
                            <input type="date" />
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.WarrantyCoverage)
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
}

