@model CarCare.Models.Charts

@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
   
</head>

<body>
        <div class="row col-md-12" style="margin-top:100px">
            <div id="columnchart" class="col-md-5" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
                @(Model.highChartsPie)
            </div>
            <div id="barChart" class="col-md-5" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
                @(Model.highCharts3D)
            </div>
        </div> 
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>     
</body>
</html>
