@model CarCare.Models.InsuranceViewModel

@{
    ViewBag.Title = "Edit Insurance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Insurance Information</h2>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@using (@Html.BeginForm("SaveInsurance", "Insurance", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <table class="table table-inverse">
                <thead>
                    <tr>
                        <th>
                            Action
                        </th>
                        <th>
                            Vehicle
                        </th>
                        <th>
                            Insurance Provider
                        </th>
                        <th>
                            @Html.LabelFor(m => m.InsuranceCost)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.InsuranceStartDate)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.InsuranceExpirationDate)
                        </th>
                        <th>
                            @Html.LabelFor(m => m.InsuranceCoverage)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <button type="submit">Save</button>
                            @Html.HiddenFor(m => m.VehicleId)
                            @Html.HiddenFor(m => m.InsuranceId)
                        </td>
                        <td>
                            @Html.DropDownList("Vehhicles", ((List<SelectListItem>)ViewBag.Vehicles).Select(m => new SelectListItem { Text = m.Text, Value = m.Value }))
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.InsuranceProvider)
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.InsuranceCost)
                        </td>
                        <td>
                            <input type="date" />
                        </td>
                        <td>
                            <input type="date" />
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.InsuranceCoverage)
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
}