@model CarCare.Models.LeaseRecordViewModel

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@using (@Html.BeginForm("SaveLease", "Lease", FormMethod.Post))
{
    <div class="container">
        <div class="row">
            <table class="table">
                <tr>
                    <td>
                        Vehicle (VIN)
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.VehicleId, ((List<SelectListItem>)ViewBag.Vehicles).Select(m => new SelectListItem { Text = m.Text, Value = m.Value }))
                    </td>
                </tr>
                <tr>
                    <td>
                        Lease Start Date
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.LeaseStartDate,
                            new { @type = "date", @Value = Model.LeaseStartDate.ToString("yyyy-MM-dd") })
                    </td>
                </tr>
                <tr>
                    <td>
                        Lease Term (months)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.LeaseTerm)
                    </td>
                </tr>
                <tr>
                    <td>
                        Monthly Payment
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.MonthlyPayment)
                    </td>
                </tr>
                <tr>
                    <td>
                        Company
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Company)
                    </td>
                </tr>
                <tr>
                    <td>
                        Miles Driven Per Year
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.MilesDrivenPerYear)
                    </td>
                </tr>
                <tr>
                    <td>
                        Security Deposit
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.SecurityDeposit)
                    </td>
                </tr>
                <tr>
                    <td>
                        Acquistion Fee
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.AcquistionFee)
                    </td>
                </tr>
                <tr>
                    <td>
                        Money Factor
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.MoneyFactor)
                    </td>
                </tr>
                <tr>
                    <td>
                        Notes
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.LeaseNotes)
                    </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-primary" type="submit">Save</button>
                        @Html.HiddenFor(m => m.LeaseId)
                    </td>
                    <td>
                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    </td>
                </tr>
            </table>

        </div>

    </div>

}